@layout('layouts.default')

@section('content')
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste error eaque mollitia sit odio id, quaerat tenetur voluptas atque nihil hic assumenda numquam debitis, alias ab architecto maxime neque! Laboriosam?
    </h1>
@endsection