@layout('layouts.profile')

@section('content')
    @set('threads' , threads.toJSON())

    @!component('partials._pagination' , last_page = threads.lastPage , page = threads.page)

    @each(thread in threads.data)
        @include('partials._thread-card')
    @endeach

    <br>
    @!component('partials._pagination' , last_page = threads.lastPage , page = threads.page)
@endsection