// @import '~bulma/sass/utilities/all';
// @import '~bulma/sass/utilities/functions';

// $section-padding: 1.5rem 1.5rem;
// $menu-item-active-background-color: transparent;
// $menu-item-active-color: $link;

// $pagination-current-background-color: $info;
// $pagination-active-border-color: $info;

.turbolinks-progress-bar {
    height: 5px;
    background-color: $danger;
}

@import '~bulma/bulma';

body,
html {
    min-height: 100%;
    background-color: #f2f6fa;
}

.top-nav {
    border-top: 5px solid #3498db;
}

.top-nav .container {
    border-bottom: 1px solid #e6eaee;
}

.sub-nav {
    margin-bottom: 40px;
}

/* Auth */

.auth {
    .hero {
        background: #f2f6fa;
    }
}
